<div id="edition-view">
    <div class="edition-view-main-box">
        <div class="edition-view-top-box">
            <form class="task-group" (ngSubmit)="onTaskGroupNameChange($event)">
                <input type="text" name="taskGroupName" value="{{taskGroupSelected?.name}}" [(ngModel)]="taskGroupSelected.name"/>
                <button class="user-task-btn btn-task-accept-edit" type="submit">
                    {{ 'APP.BUTTONS.ACCEPT_EDITION' | translate }}
                </button>
            </form>
        </div>
        <div class="edition-view-columns-box">
            <div class="edition-view-column-user-tasks-list">
                <table class="user-tasks-table">
                    <thead>
                        <tr>
                            <td>{{ 'APP.HEADERS.NAME' | translate }}</td>
                            <td>{{ 'APP.HEADERS.DEADLINE' | translate }}</td>
                            <td>{{ 'APP.HEADERS.USER_ID' | translate }}</td>
                            <td>{{ 'APP.HEADERS.STATUS' | translate }}</td>
                            <td>{{ 'APP.HEADERS.OPTIONS' | translate }}</td>
                        </tr>
                    </thead>
                    <tbody *ngFor="let userTask of taskGroupSelected?.userTasks">
                        <tr>
                            <td><input type="text" name="userTaskName" value="{{userTask?.name}}" [(ngModel)]="userTask.name"/></td>
                            <td><input type="text" name="userTaskDeadline" value="{{userTask?.deadline}}" [(ngModel)]="userTask.deadline"/></td>
                            <td>
                                <select name="userTaskUserId" [(ngModel)]="userTask.userId">
                                    <option *ngFor="let user of users">
                                        {{ user.firstName }} {{ user.lastName }}
                                    </option>
                                </select>
                            <td>
                                <select name="userTaskStatus" [(ngModel)]="userTask.status">
                                    <option>{{ 'APP.TASK_STATUS.NEW' | translate }}</option>
                                    <option>{{ 'APP.TASK_STATUS.IN_PROGRESS' | translate }}</option>
                                    <option>{{ 'APP.TASK_STATUS.COMPLETED' | translate }}</option>
                                </select>
                            </td>
                            <td class="user-tasks-table-options-buttons">
                                <button class="user-task-btn btn-task-accept-edit" (click)="acceptEditionHandler(userTask)">
                                    {{ 'APP.BUTTONS.ACCEPT_EDITION' | translate }}
                                </button>
                                <button class="user-task-btn btn-task-remove" (click)="removeTaskHandler(userTask)">
                                    {{ 'APP.BUTTONS.REMOVE' | translate }}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="add-group-btn-box">
                    <button class="btn-back" (click)="goBack()">{{ 'APP.BUTTONS.BACK' | translate }}</button>
                </div>
            </div>
            <div class="edition-view-column-user-tasks-form">
                <form [formGroup]="userTaskForm" class="user-task-form" (ngSubmit)="addTask()">
                    <div class="form-control-box">
                        <label for="name">{{ 'APP.HEADERS.NAME' | translate }}</label>
                        <input type="text" [class.validation-error]="validationErrorName" name="name" formControlName="name"/>
                    </div>
                    
                    <div class="form-control-box">
                        <label for="deadline">{{ 'APP.HEADERS.DEADLINE' | translate }}</label>
                        <input type="text" name="deadline" formControlName="deadline"/>
                    </div>
                    
                    <div class="form-control-box">
                        <label for="status">{{ 'APP.HEADERS.STATUS' | translate }}</label>
                        <input type="text" [class.validation-error]="validationErrorStatus" name="status" formControlName="status"/>
                    </div>
                    <button class="form-submit-btn" type="submit">{{ 'APP.BUTTONS.ADD_TASK' | translate }}</button>
                </form>    
            </div>
        </div>
    </div>
</div>

<ngx-smart-modal #updateConfirmationModal identifier="updateConfirmationModal" title="{{ 'APP.MODAL.UPDATE_TITLE' | translate }}">
    <div class="modal-content-question">
        <p>{{ 'APP.MODAL.UPDATE_INFO' | translate }} {{updatedTask}}</p>
    </div>
</ngx-smart-modal>

<ngx-smart-modal #updateGroupConfirmationModal identifier="updateGroupConfirmationModal" title="{{ 'APP.MODAL.UPDATE_TITLE' | translate }}">
    <div class="modal-content-question">
        <p>{{ 'APP.MODAL.UPDATE_GROUP_INFO' | translate }} {{taskGroupSelected?.name}}</p>
    </div>
</ngx-smart-modal>